In [3]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load in 

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list the files in the input directory

from subprocess import check_output

# Any results you write to the current directory are saved as output.

After I finished the first project to the course, I will use the decision tree algorithm to try to predict the outcome variable.
First I will training the algorithm using the data training.

In [5]:
from sklearn import tree
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

# Import the train dataset to "data_train"
in_file_train = 'titanic_data.csv'
data_train = pd.read_csv(in_file_train)

# Split the outcome column ("Survived)
outcomes = data_train['Survived']
data_train = data_train.drop('Survived', axis = 1)
print(data_train.head())
# Use to train only numerical columns 
data_train = data_train[['Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare']]
data_train['Age'] = data_train['Age'].fillna(0)

# Change "male" to 0 and "female" to 1 in "Sex" column
data_train['Sex'][data_train['Sex'] == 'male'] = 0
data_train['Sex'][data_train['Sex'] == 'female'] = 1

print (data_train.head())

   PassengerId  Pclass                                               Name  \
0            1       3                            Braund, Mr. Owen Harris
1            2       1  Cumings, Mrs. John Bradley (Florence Briggs Th...
2            3       3                             Heikkinen, Miss. Laina
3            4       1       Futrelle, Mrs. Jacques Heath (Lily May Peel)
4            5       3                           Allen, Mr. William Henry

      Sex   Age  SibSp  Parch            Ticket     Fare Cabin Embarked
0    male  22.0      1      0         A/5 21171   7.2500   NaN        S
1  female  38.0      1      0          PC 17599  71.2833   C85        C
2  female  26.0      0      0  STON/O2. 3101282   7.9250   NaN        S
3  female  35.0      1      0            113803  53.1000  C123        S
4    male  35.0      0      0            373450   8.0500   NaN        S
   Pclass Sex   Age  SibSp  Parch     Fare
0       3   0  22.0      1      0   7.2500
1       1   1  38.0      1      0  71.2833
2       3   1  26.0      0      0   7.9250
3       1   1  35.0      1      0  53.1000
4       3   0  35.0      0      0   8.0500

C:\Users\fabio\Anaconda3\lib\site-packages\ipykernel\__main__.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\fabio\Anaconda3\lib\site-packages\ipykernel\__main__.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [6]:
# Split the train dataset in train and test
X_train, X_test, y_train, y_test = train_test_split(data_train, outcomes, test_size=0.1)

# Training the classifier using Decision Tree Algorithm
clf = tree.DecisionTreeClassifier(max_depth=4)
clf = clf.fit(X_train, y_train)

# Predict using the test features and compare with the test Outcome
predictions = clf.predict(X_test)
print (accuracy_score(y_test, predictions))

0.788888888889

Now I will predict the test dataset using the trained algorithm

In [10]:
in_file_test = 'titanic_test.csv'
data_test = pd.read_csv(in_file_test)

# Use to test only numerical columns 
ID = data_test['PassengerId']
data_test = data_test[['Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare']]
data_test['Age'] = data_test['Age'].fillna(0)
data_test['Fare'] = data_test['Fare'].fillna(0)

# Change "male" to 0 and "female" to 1 in "Sex" column
data_test['Sex'][data_test['Sex'] == 'male'] = 0
data_test['Sex'][data_test['Sex'] == 'female'] = 1

predictions_test = pd.DataFrame({'PassengerId': ID, 'Survived':clf.predict(data_test)})
predictions_test.to_csv('predictions_titanic.csv', index= False)
predictions_test

C:\Users\fabio\Anaconda3\lib\site-packages\ipykernel\__main__.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\fabio\Anaconda3\lib\site-packages\ipykernel\__main__.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

     PassengerId  Survived
0            892         0
1            893         0
2            894         0
3            895         0
4            896         0
5            897         0
6            898         0
7            899         0
8            900         0
9            901         0
10           902         0
11           903         0
12           904         1
13           905         0
14           906         1
15           907         1
16           908         0
17           909         0
18           910         0
19           911         0
20           912         0
21           913         1
22           914         1
23           915         0
24           916         1
25           917         0
26           918         1
27           919         0
28           920         0
29           921         0
..           ...       ...
388         1280         0
389         1281         1
390         1282         0
391         1283         1
392         1284         0
393         1285         0
394         1286         0
395         1287         1
396         1288         0
397         1289         1
398         1290         0
399         1291         0
400         1292         1
401         1293         0
402         1294         1
403         1295         0
404         1296         0
405         1297         0
406         1298         0
407         1299         0
408         1300         1
409         1301         1
410         1302         1
411         1303         1
412         1304         0
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         1

[418 rows x 2 columns]